/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1366px) {



}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .address, .phone {
        text-align: center;
    }
    .social-links {
        justify-content: center;
    }

    .large-title {
        font-size: 40px;
    }
    .arrow-icon-image {
        width: 45px;
    }

    .small-title {
        font-size: 26px;
    }

}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

    .address, .phone {
        text-align: center;
    }
    .social-links {
        justify-content: center;
    }

    .large-title {
        font-size: 28px;
    }
    .arrow-icon-image {
        width: 35px;
    }

    .small-title {
        font-size: 18px;
    }
    .mid-title {
        font-size: 30px;
    }

    .heading-left-content h4 {
        font-size: 30px;
    }

    .project-btn a {
        font-size: 10px;
    }

    .our-mission-section {
        background-image: none;
    }

    .heading-right-content {
        align-items: center;
    }
    .contact-content h3 {
        font-size: 36px;
    }

    .process-content h6 {
        font-size: 22px;
    }

    .process-content h4{
        padding-bottom: 10px;
        font-size: 45px;
    }

    .skill-content p {
        font-size: 14px;
    }

    strong {
        font-size: 14px;
    }

    .process-heading h5 {
        padding: 55px 0px;
        text-align: center;
    }

    .mission-list li {
        font-size: 16px;
    }

    .mission-list li span {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 579px) and (max-width: 767px) {





}