
/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1366px) {

    .recent-news-bottom {
        /* width: 100%; */
    }

    body {
        background: green;
    }


}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: blue;
    }

        .logo {
        justify-content: center;
    }
    
    .nav-area {
        justify-content: center;
    }

    .page-banner {
        height: 300px;
    }

    .page-banner-heading {
        height: 86.5%;
    }
    .address, .phone {
        text-align: center;
    }
    .social-links {
        justify-content: center;
    }

    .large-title {
        font-size: 40px;
    }
    .arrow-icon-image {
        width: 45px;
    }

    .small-title {
        font-size: 26px;
    }
    .recent-news-bottom {
        /* width: 100%; */
    }

    .project-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-gallery a:first-child {
        grid-column: unset;
        grid-row: unset;
    }
    
    .project-gallery a:nth-child(2) {
        grid-column: unset;
    }
    .project-gallery a:nth-child(3) {
        grid-column: unset;
    }
    .project-gallery a:nth-child(4) {
        grid-row: unset;
    }
    .project-gallery a:nth-child(5) {
        grid-row: unset;
    }
    .project-gallery a:last-child {
        grid-column: unset;
        grid-row: unset;
    }

}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 768px) {

    body {
        background: yellow;
    }
    /* .logo {
        justify-content: center;
    }
    
    .nav-area {
        justify-content: center;
    } */

    .page-banner {
        height: 250px;
    }

    .page-banner-heading{
        height: 84%;
    }

    .address, .phone {
        text-align: center;
    }
    .social-links {
        justify-content: center;
    }

    .accounts {
        justify-content: center;
        flex-direction: column;
    }

    .large-title {
        font-size: 28px;
    }
    .arrow-icon-image {
        width: 32px;
    }

    .small-title {
        font-size: 18px;
    }
    .mid-title {
        font-size: 30px;
    }

    .heading-left-content h4 {
        font-size: 30px;
    }

    .project-btn a {
        font-size: 10px;
    }

    .our-mission-section {
        background-image: none;
    }

    .heading-right-content {
        align-items: center;
    }
    .contact-content h3 {
        font-size: 36px;
    }

    .process-content h6 {
        font-size: 22px;
    }

    .process-content h4{
        padding-bottom: 10px;
        font-size: 45px;
    }

    .skill-content p {
        font-size: 14px;
    }

    .progressbar-heading strong {
        font-size: 14px;
    }

    .process-heading h5 {
        padding: 55px 0px;
        text-align: center;
    }

    .mission-list li {
        font-size: 16px;
    }

    .mission-list li span {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .recent-news-bottom {
        /* width: 100%; */
    }
    .recent-news-bottom-wrap {
        min-height: 1000px;
    }

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-gallery a:first-child {
        grid-column: unset;
        grid-row: unset;
    }
    
    .project-gallery a:nth-child(2) {
        grid-column: unset;
    }
    .project-gallery a:nth-child(3) {
        grid-column: unset;
    }
    .project-gallery a:nth-child(4) {
        grid-row: unset;
    }
    .project-gallery a:nth-child(5) {
        grid-row: unset;
    }
    .project-gallery a:last-child {
        grid-column: unset;
        grid-row: unset;
    }

}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 579px) and (max-width: 767px) {


    .recent-news-bottom-wrap {
        min-height: 700px;
    }
    


}